/vendor
/node_modules
.env
.DS_Store
.git.bak/
/dist
/dist-react
/public/storage
/public/downloads/*.exe
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/FinvorooPrintAgent-Windows.zip